WWW_HOST=www.zacharywartell.net
#RSYNC_HOST_PATH="webmaster@ssh.zacharywartell.net:/var/www/html/$WWW_REMOTE_PATH_SUFFIX"             
RSYNC_HOST_PATH="webmaster@ssh.zacharywartell.net:$WWW_REMOTE_PATH_SUFFIX"             
if [[ ! -n "$RSYNC_SSH_KEY" ]]; then
   RSYNC_SSH_KEY="toybox-2025-to-webmaster-at-zw-net"
fi
RSYNC_SSH_PATH="$HOME/.ssh/ids/$RSYNC_SSH_KEY"
RSYNC_SSH_CMD="ssh -i $RSYNC_SSH_PATH -l webmaster"

#ftphost=webpages.charlotte.edu
#ftpdir='public_html/Teaching/Git Tutorial'
#ftpuser=zwartell
#htmlfile='Git Tutorial.html'
