WWW_HOST=www.zacharywartell.net
RSYNC_HOST_PATH="zjayuu_gmail_com@www.zacharywartell.net:/var/www/html/$WWW_REMOTE_PATH_SUFFIX"             
RSYNC_SSH_CMD="ssh -i $HOME/.ssh/zw_toybox_tablet_2023-to-zw_net_rsync_cloud -l zjayuu_gmail_com"

#ftphost=webpages.charlotte.edu
#ftpdir='public_html/Teaching/Git Tutorial'
#ftpuser=zwartell
#htmlfile='Git Tutorial.html'